body{
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* classe background-green da riciclare per le altre sezioni con sfondo verde*/
.bg-opposite{
    background-color: #1abc9c;
}

/* titoli sezini alternate */
.title-white{
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.title-black{
    color: #2c3e50;
    font-size: 40px;
    font-weight: 700;
}

/* padding alle varie sezioni */
header,#portfolio,#about,#contact{
    padding: 100px 0;
}

/* inizio navbar fix */
.navbar{
    font-weight: 700;
    margin: 0;
}

.navbar-default{
    background-color: #2c3e50;
    padding: 24px 0;
}

.navbar-default .navbar-brand{
    color: white;
    padding: 16px 0;
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a{
    color: white;
    padding: 16px;
    margin-right: 10px;
    font-size: 16px;
}

.navbar-default .navbar-toggle{
    border: none;
    border-radius: 10px;
    background-color: #1abc9c;
    color: white;
}

.navbar-default .navbar-toggle:hover{
    background-color: #117964;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-nav>li>a:hover{
    color: #1abc9c;
}


/* inizio header con avatar */
.avatar{
    max-width: 240px;
    margin-top: 100px;
    margin-bottom: 50px;
}

header h1{
    color: white;
    font-size: 40px ;
    font-weight: 600;
}

header p{
    color: white;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
}

/* creazione star-divider color white */
.star-divider-white{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star-divider-white .line-left{
    background-color: white;
    width: 80px;
    height: 4px;
    float:left;
    line-height: 20px;
    margin-top: 12px;
    margin-right: 10px;
}

.star-divider-white .line-right{
    background-color: white;
    width: 80px;
    height: 4px;
    float:left;
    line-height: 20px;
    margin-top: 12px;
    margin-left: 10px;
}
.star-divider-white i{
    color: white;
    float: left;
    font-size: 30px;
}
/* fine star-divider-white */
/* inizio star-divider-dark */

.star-divider-dark{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.star-divider-dark .line-left{
    background-color: #2c3e50;
    width: 80px;
    height: 4px;
    float:left;
    line-height: 20px;
    margin-top: 12px;
    margin-right: 10px;
}

.star-divider-dark .line-right{
    background-color: #2c3e50;
    width: 80px;
    height: 4px;
    float:left;
    line-height: 20px;
    margin-top: 12px;
    margin-left: 10px;
}
.star-divider-dark i{
    color: #2c3e50;
    float: left;
    font-size: 30px;
}
/* fine star-divider-dark */


/* inizio sectio PORTFOLIO */
/* inizio box */
#portfolio img{
    max-width: 100%;

}

.portfolio-item{
    cursor: pointer;
    position: relative;
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-item .portfolio-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
    align-items: center;
}
.portfolio-item .portfolio-bg:hover{
    opacity: 1;
}

.portfolio-item .portfolio-bg .portfolio-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-item .portfolio-bg .portfolio-icon i{
    font-size: 80px;
    color: white;
}

#portfolio .row .box{
    margin-bottom: 20px;
}
/* fine section PORTFOLIO */


/* inizio section ABOUT */
#about p{
    color: white;
    font-size: 20px;
}

#about .button a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 30px;
    border: 2px solid white;
    border-radius: 5px;
}

#about .button a:hover{
    background-color: white;
    color: #2c3e50;
    transition: 1s;
    cursor: pointer;
}
/* fine section ABOUT */


/* inizio section CONTACT */

#contact .form-group{
    border-bottom: 1px solid silver;
    padding: 20px 0;
    margin-top: 20px;
    position: relative;

}


#contact .form-group span{
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 15px;
    opacity: 0;
    font-weight: 700;
}

#contact .form-group input:focus ~ span{
    color: #1abc9c;
    opacity: 1;
    transition: 1.5s;
}
#contact .form-group textarea:focus ~ span{
    color: #1abc9c;
    opacity: 1;
    transition: 1.5s;
}


#input-name,
#input-email,
#input-number,
#input-message{
    border:none;
    font-size: 20px;
    font-weight: 400;
    color: #495057;
    outline: 0;
}

.btn-form{
    padding: 20px 30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.btn-form:hover{
    background-color: #117964;
    transition: 1s;
}

/* inizio FOOTER */

footer{
    background-color: #2c3e50;
    padding: 50px 0;
}
footer .footer-info{
    margin-bottom: 10px;
}

footer h4{
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

footer p{
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

footer p span{
    color: #1abc9c;
}

footer p span:hover{
    color: #117964;
    text-decoration: underline;
    cursor: pointer;
}

footer .icon-footer{
    margin: 10px;
    display: inline-block;

}

footer .icon-footer a{
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding:10px;
    font-size: 20px;
}

footer .icon-footer a:hover{
    background-color: white;
    color: #2c3e50;
}

#footer-bottom{
    background-color: #1a252f;
    color: white;
}

/* media Query */

@media screen and (min-width: 992px){

    .navbar-default .navbar-brand{
        font-size: 28px;
    }

    header h1{
        font-size: 64px;
    }

    header p{
        font-size: 24px;
    }

    .title-white{
        font-size: 48px;
    }
    .title-black{
        font-size: 48px;
    }

    .star-divider-white .line-left,
    .star-divider-white .line-right,
    .star-divider-dark .line-left,
    .star-divider-dark .line-right{
        width: 140px;
    }

    #portfolio h2{
        font-size: 48px;
    }



}
